.logo {
  gap: 2.4rem;
  display: flex;
  padding-top: 3.2rem;
  align-items: center;
  justify-content: center;
}

.logoLink {
  gap: 0.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;
  font-size: 4.2rem;
  color: var(--primary);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%)
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}