.input {
	outline: none;
	padding: 0.8rem;
	font-size: 1.8rem;
	text-align: center;
	background-color: transparent;

	color: var(--text-default);
	border: 0.2rem solid transparent;
	border-bottom: 0.2rem solid var(--primary);

	transition: all 0.1s ease-in-out;
}

.input:focus {
	border-radius: 0.8rem;
	border: 0.2rem solid var(--primary);
}

.input:disabled {
	color: var(--text-muted);
	border-bottom: 0.2rem solid var(--disabled);
}

.input ::placeholder {
	font-size: 1.4rem;
	font-style: italic;
	color: var(--gray-500);
}
