.button {
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  color: var(--text-over-primary);

  padding: 0.8rem;
  min-width: 24rem;
  margin: 4.8rem 0;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in-out;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(80%);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-primary);
}